# Kconfig - STM32F103ZET6 NUCLEUS board configuration
#
# Copyright (c) 2017 Chunshan Zhu.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_NUCLEUS_F103ZE

config BOARD
	default nucleus_f103ze

endif # BOARD_NUCLEUS_F103ZE
